NET "clk" LOC = "B8";
NET "disp[0]" LOC = "L14"; 
NET "disp[1]" LOC = "H12"; 
NET "disp[2]" LOC = "N14"; 
NET "disp[3]" LOC = "N11"; 
NET "disp[4]" LOC = "P12"; 
NET "disp[5]" LOC = "L13"; 
//NET "disp[6]" LOC = "M12"; 
NET "disp[6]" LOC = "N13"; 
NET "anode[3]" LOC = "F12";
NET "anode[2]" LOC = "J12";
NET "anode[1]" LOC ="M13";
NET "anode[0]" LOC = "K14";
